<nav class="navbar navbar-fixed-bottom">
  <div class="container">
    <hr>
    <span class="text-muted">© <%= Time.now.year %> Messenger. All rights reserved.</span>
    <br>
    <span class="text-muted"><small>Developed by Smirnov Konstantin - <a href="http://smiplay.com" target="_blank">smiplay.com</a></small></span>
  </div>
</nav>
