<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'Messenger', root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to 'Log Out', logout_path, class: 'nav-link', method: :delete, data: { confirm: 'Are you sure to leave?' } %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Register', new_user_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log In', login_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
