.table-clickable {
  tr:hover {
    cursor: pointer;
    color: #2B84D2;
  }
}

.pagination {
  a, em {
    padding-left: 3px;
    padding-right: 3px;
  }
  em {
    font-style: normal;
  }
}

.navbar-light .navbar-nav .active > .nav-link,
td a,
.pagination a {
  color: #2B84D2;
}

span.badge.badge-primary,
.btn-primary {
  background-color: #2B84D2;
}
