.table-clickable {
  tr:hover {
    cursor: pointer;
    color: #2B84D2;
  }
}

.pagination {
  a, em {
    padding-left: 3px;
    padding-right: 3px;
  }
  em {
    font-style: normal;
  }
}

.navbar-light .navbar-nav .active > .nav-link,
td a,
.pagination a {
  color: #2B84D2;
}

span.badge.badge-primary,
.btn-primary {
  background-color: #2B84D2;
}

#table-messages {
  table-layout: fixed;

  .message_status {
    width: 5%;
  }
  .message_contact {
    width: 20%;
  }
  .message_message {
    width: 60%;
  }
  .message_date {
    width: 10%;
  }
  .message_options {
    width: 5%;
  }
}

.footer-placeholder {
  display: block;
  height: 90px;
}

nav.navbar.fixed-bottom {
  background-color: white;
  padding-top: 0px;

  .container {
    padding-top: 5px;
    border-top: 1px solid gray;
  }
}
